<a href="https://colab.research.google.com/github/azizmumin/it-cert-automation-practice/blob/master/Pandas_Data_Frame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd;

   Minuman  Harga
0  Bandrek   5000
1  Bajigur   6000

In [ ]:
#@title Mencoba data frame sederhana
pd.DataFrame(data={'Minuman': ['Bandrek', 'Bajigur'],
                   'Harga': [5000, 6000]})

   Minuman  Harga
0  Bandrek   5000
1  Bajigur   6000

In [ ]:
pd.DataFrame(data={'Budi': ['suka', 'suka'],
                   'Wati': ['tidak suka', 'suka']},
             index=['Mangga', 'Jambu'])

        Budi        Wati
Mangga  suka  tidak suka
Jambu   suka        suka

In [ ]:
pd.Series(data=[100,200,300,400,500])

0    100
1    200
2    300
3    400
4    500
dtype: int64